%div.mt-5.card.p-5
  %div#mainn-section.text-center.p-4
    %p.text-secondary Enter URL of logo to preview, URL should not include https,back-slash. For example URL should be like :- starterstory.com, you can see below example as well. 
    %p.alert-danger.d-none Logo Url is incorrect, please check
    = text_field_tag "accountName", "", class: 'first-input url-input mb-3', data: {class_name: 'first-image'}, placeholder: "forbes.com"
    %br
    = text_field_tag "accountName", "", class: 'first-input url-input  mb-3', data: {class_name: 'second-image'}, placeholder: "cb.com"
    %br
    = text_field_tag "accountName", "", class: 'first-input url-input  mb-3', data: {class_name: 'third-image'}, placeholder: "aws.com"
    %br
    = text_field_tag "accountName", "", class: 'first-input url-input  mb-3', data: {class_name: 'fourth-image'}, placeholder: "nbc.com"
    %br
    = text_field_tag "accountName", "", class: 'first-input url-input  mb-3', data: {class_name: 'fifth-image'}, placeholder: "cw.com"
    %br
    = submit_tag "Preview", class: "btn btn-success", onclick: 'display_image()'


  %div#out-put-section{style: "margin-left: 313px;"}
    = image_tag("https://image.shutterstock.com/image-vector/no-image-vector-symbol-missing-260nw-1310632172.jpg", class: 'first-image', size: '100x100', style: '')
    =image_tag("https://image.shutterstock.com/image-vector/no-image-vector-symbol-missing-260nw-1310632172.jpg", class: 'second-image', size: '100x100', style: '')
    =image_tag("https://image.shutterstock.com/image-vector/no-image-vector-symbol-missing-260nw-1310632172.jpg", class: 'third-image', size: '100x100', style: '')
    =image_tag("https://image.shutterstock.com/image-vector/no-image-vector-symbol-missing-260nw-1310632172.jpg", class: 'fourth-image', size: '100x100', style: '')
    =image_tag("https://image.shutterstock.com/image-vector/no-image-vector-symbol-missing-260nw-1310632172.jpg", class: 'fifth-image', size: '100x100', style: '')
  %div.card-title
    %h3.mb-3 Embed Code
    Copy and paste the code below to the HTML of your website, you may need to contact yout webmaster to install.
    %button.clipboard-btn.btn-primary.mb-3{"data-clipboard-action" => "copy", "data-clipboard-target" => "#embedCode"}
      %span.tooltiptext#myTooltip
      Copy to clipboard
    = text_area_tag "embedCode", "<html><head><title>Press Release Jet </title></head>\n<body>", data: {class_name: 'embed-code'}, style: 'width: 100%;height: 120px;color: #5c5b5f;', class: 'embed-code'
      
:javascript
    function display_image() {
      var inputs = $('#mainn-section').children('.url-input');
      $('.alert-danger').addClass('d-none')
      $(".embed-code").val("<html><head><title>Press Release Jet </title></head>\n<body>")

      $('.clipboard-btn').addClass('btn-primary')
      $('.clipboard-btn').removeClass('btn-success')
      $('.clipboard-btn').html('Copy to clipboard')
      for (let index = 0; index < inputs.length; index++) {
        var written_url = $(inputs[index]).val();
        if (written_url.length != 0){
          var hostname = written_url
          var final_url = "https://logo.clearbit.com/" + hostname;
          var class_name = $(inputs[index]).data('class-name');
          $('.' + class_name).attr("src", final_url);
          $(".embed-code").val(function() {
              return this.value + "\n<img src="+final_url+" />  ";
          });
          if (hostname.includes("https") || hostname.includes("/")){
            $('.alert-danger').removeClass('d-none')
          }
        }
      }
      $(".embed-code").val(function() {
          return this.value + "</body></html>";
      });
    }

    $(".url-input").focusout(function(){
      $('.clipboard-btn').addClass('btn-primary')
      $('.clipboard-btn').removeClass('btn-success')
      $('.clipboard-btn').html('Copy to clipboard')
      var inputs = $('#mainn-section').children('.url-input');
      $('.alert-danger').addClass('d-none')
      $(".embed-code").val("<html><head><title>Press Release Jet </title></head>\n<body>")
      for (let index = 0; index < inputs.length; index++) {
        var written_url = $(inputs[index]).val();
        if (written_url.length != 0){
          var hostname = written_url
          var final_url = "https://logo.clearbit.com/" + hostname;
          var class_name = $(inputs[index]).data('class-name');
          $('.' + class_name).attr("src", final_url);
          $(".embed-code").val(function() {
              return this.value + "\n<img src="+final_url+" />  ";
          });
          if (hostname.includes("https") || hostname.includes("/")){
            $('.alert-danger').removeClass('d-none')
          }
        }
      }
      $(".embed-code").val(function() {
        return this.value + "</body></html>";
      });
    })
    $('.url-input').keypress(function (e) {
      if (e.which == 13) {
        $('.clipboard-btn').addClass('btn-primary')
        $('.clipboard-btn').removeClass('btn-success')
        $('.clipboard-btn').html('Copy to clipboard')
        $('.btn-success').click();
        return false;    //<---- Add this line
      }
    });

    $('.clipboard-btn').click(function(){
      var copy_text = $('.embed-code').val()
      navigator.clipboard.writeText(copy_text);
      $('.clipboard-btn').removeClass('btn-primary')
      $('.clipboard-btn').addClass('btn-success')
      $('.clipboard-btn').html('Copied')
    })